/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030303;
    color: #f1eded;
}

/* Sección de contacto */
#contacto {
    background-color: #201e35;
    padding: 50px 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: rgb(11, 11, 11);
    border-radius: 8px;
}

#contacto h2 {
    font-size: 2rem;
    color: #f9f9f9;
    margin-bottom: 10px;
}

#contacto p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #a09b9b;
}

/* Estilos del formulario */
form {
    width: 90%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    text-align: left;
    color: #f9f9f9;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #0078D7;
}

button {
    margin-top: 20px;
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #005BB5;
}