body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

#productos, #carrito {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.producto {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #2833a7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #128f8f;
}

.logoTech-carrito{
    border-radius: 10px;
}